:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.profile {
  background-color: rgb(74, 74, 74);
  display: flex;
  column-gap: 10px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
}
p , button {
  display: flex;
  text-align: center;
  align-items: center;
}
.Logout {
  /* background-color: blue; */
  height: fit-content;
  margin: auto;
}
.searchbar {
  background-color: rgb(74, 74, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0px;
  border-radius: 10px;
}
.input {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.input h3 {
  /* background-color: black; */
  margin: 0px;
  padding: 10px;
}
.input input {
  /* background-color: blue; */
  border: 0px;
  height: 25px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.result {
  /* background-color: blue; */
  padding: 0px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 13px;
}
.user-card {
  /* background-color: red; */
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0px 10px;
}
.result .people {
  display: flex;
  flex-direction: column; 
}
.people .user-card {
  justify-content: space-between;
}
.popup {
  font-size: 17px;
  background-color: rgb(63, 63, 65);
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 0px 10px;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px;
}
.popup button {
  background-color: #202020;
  height: fit-content;
  width: fit-content;
  font-size: 15px;
}
.result .user-card:hover {
  cursor: pointer ;
  background-color: grey;
  border-radius: 10px;
}
.user-card img {
  height: 60px;
  width: 60px;
}
.user-card p {
  font-size: 23px;
  display: flex;
  align-items: center;
  text-align: center;
}
.no_result_found {
  font-size: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.box1, .box2 {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.box1 {
  width: 100%;
  align-items: center;
}

.contacts_section {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  margin: 5px;
}

.status {
  /* background-color: lime; */
  background-color: transparent;
  height: 10px;
  width: 10px;
  border-radius:100% ;
  margin: auto;
  margin-right: 10px;
}
.online_status {
  background-color: lime;
}

.chats {
  background-color: rgb(74, 74, 74);
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.no_user_selected {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}
.no_user_selected h2, .no_user_selected h3{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin: 0px;
}
.friend {
  background-color: rgb(51, 51, 56) ;
  border-radius: 10px;
}

.messages {
  /* background-color: blue; */
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.messages p {
  font-size: 18px;
  width: max-content; /* Explicitly sets width to fit content */
  border-radius: 5px;
  padding: 7px;
}

.other_user {
  background: linear-gradient(rgb(136, 49, 213),purple);
  margin: 0px ;
  margin-left: 0px;
  border-radius: 10px;
  height: auto;
  width: fit-content;
  max-width: 340px;
  color: white;
  text-align: left;  
}

.personal_user {
  background: rgba(34, 34, 34, 0.649);
  margin: 0px ;
  margin-left: auto;
  margin-right: 0px ;
  border-radius: 10px;
  height: auto;
  width: fit-content;
  max-width: 340px;
  color: white;
  text-align: left;  
}


.message_input {
  /* background-color: blue; */
  display: flex;
  height: 30px;
  padding: 1px;
}
.message_input input {
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px;
  height: 100%;
  padding:0px 10px ;
}
.message_input .bi-send{
  display: flex;
  width: 10%;
  height: auto;
  background: rgba(34, 34, 34, 0.649);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bi-send:hover{
  cursor: pointer;
  background-color: grey;
}

.dashboard { 
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.dashboard h2 {
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(to bottom right,rgb(1, 82, 103),rgb(0, 255, 34));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dashboard .array_div {
  background-color: rgb(74, 73, 73);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contacts_section:hover {
  background-color: rgba(100, 98, 98, 0.454);
  cursor: pointer;
  transition:0.3s;
}

.notification_counter {
  position: fixed;
  top: auto;
  left : 44%;
  background-color: red;
  padding: 7px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  display: none;
}





.Groups {
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.Groups h2 {
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(to bottom right,rgb(66, 1, 103),rgb(0, 149, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.groups_dashboard {
  background-color: rgba(41, 45, 48, 0.837);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.group_form{
  background-color: rgba(41, 45, 48, 0.837);
  margin: 5px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.group_form label {
  display: flex;
  padding-left: 5%;
  align-items: center;
  column-gap: 10px;
}

.group_form label p {
  display: flex;
  font-size: 20px;
  width: 35%;
}
.group_form label input {
  display: flex;
  height: 30px;
  width: 53%;
  border-radius: 10px;
  border: 0px ;
  padding: 0px 10px;
}
.group_form label {
  background-color: transparent;
}
.group_buttons{
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.group_buttons button{ 
  width: fit-content;
}
.Select_Contacts {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}

.Select_Contacts input {
  height : 25px ; 
  width: 25px;
}
.Select_Contacts .box1{
  background-color: rgb(77, 74, 74);
  border-radius: 10px;
  padding-left: 20px;
  padding: 10px;
  width: auto;
}
.Select_Contacts img {
  height:67px;
  width: 67px;
}




.group_chat {
  /* background-color: blue; */
  display: flex ; 
  flex-direction: column;
}
.group_chat .group_card {
  background-color: rgb(36, 36, 36);
  display: flex;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  column-gap: 15px;
}
.group_card img {
  height: 70px;
  width: 70px;
}
.group_card p {
  font-size: 20px;
  background-color: transparent;
}
.group_card:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(49, 49, 49, 0.702);
}


.display_none {
  display: none; 
}